TYPEORM_CONNECTION=mysql
TYPEORM_HOST=localhost
TYPEORM_PORT=3306
TYPEORM_USERNAME=root
TYPEORM_PASSWORD=
TYPEORM_DATABASE=proa_weather_db
TYPEORM_SYNCHRONIZE=true

DATA_IMPORT_URL='../../../proa_sample_data'